@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Source+Sans+Pro:600|Inconsolata);

code, pre { font-family: "Inconsolata"; }
h1, h2, h3, h4, h5, h6 { font-family: "Source Sans Pro", "KaiTi", "楷体", "STKaiti", "华文楷体", sans-serif;}
/*margin: 1.5em 0 0.3em 0; */
::selection {
  background: #0085a1;
  color: #fff;
  text-shadow: none;
}

body {
  background-color: #f5f5f5;
}

a {
  color: #333;
}

a:focus,
a:hover {
  color: #0085a1;
}

blockquote {
  color: #818a91;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

/*
body.p {
  margin-left: 85px;
  margin-right: 85px;
  font-size: 1.1rem;
}
me-vs-me change*/
/* ------------------------------------------------------------------------- */

.container {
  max-width: 960px;  /*960px;*/
}

.header,
.footer {
  padding: 1.5rem 0 .5rem;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.header img {
  margin-bottom: 1rem;
}

.header .title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.header ul,
.header li {
  margin-bottom: .5rem;
}

.header ul {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: lowercase;
}

.main {
  background: #F7F7F8; color: #222;
  /*background-color: #fff; */
  padding: 1.5rem 0;
  font-family: "Merriweather", "georgia", "Microsoft Yahei", "微软雅黑", "STXihei", "华文细黑", serif;
}

div.content h1, h2, h3, h4, h5, div.content h6 {
  margin-left: 85px;
  margin-right: 85px;
  color: rgba(70,130,180,1)
}

.content table {
  margin-left: 85px;
  margin-right: 85px;
  font-size: 0.85rem;
}

div.content iframe {
  width: 100%;
  padding-top: 75%;
}

/* Trying to get Youtube Videos in Content to adhere to better fitting */
div.content p {
  margin-left: 85px;
  margin-right: 85px;
  font-size: 1.1rem;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.1);
}

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

.pagination .page-link {
  color: #333;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  text-decoration: underline
}

@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}

/*
html {
  background: rgb(236, 236, 236) url(https://kevin.deldycke.com/theme/img/fabric_plaid.png);
  box-shadow: inset 0 10px 100px -30px rgba(0, 0, 0, 0.5);
} */

.footer {
  border-top: 1px solid #fff;
/*  margin-top: 50px; */
  background: url(https://kevin.deldycke.com/theme/img/creampaper.png);
  padding: 20px;
  text-shadow: 0px 1px 1px white;
  box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.5);
}

.main {
  border-top: 1px solid #000;
  box-shadow: inset 0 30px 100px -30px rgba(0, 0, 0, 0.6);
}
/*.footer,*/
.header {
  box-shadow: inset 0 10px 55px -30px rgba (248, 236, 180, 0.6); /*(242, 238, 203, 0.6);*/
/* from http://lea.verou.me/css3patterns */
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  border-bottom: 1px solid #fff;
}